body {
  background-color: #273f38;
}

.card {
  position: relative;
  border: 1px solid black;
  height: 250px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 200px auto;
  background-image: linear-gradient(to right, rgb(37, 53, 79) , rgb(127, 164, 224));
  color: white;
  font-family: arial, sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.photo {
  position: relative;
  top: -80px;
  left: -30px;
}

.intro {
  align-self: flex-start;

}

.question {
  border-left: 1px black solid;

}

.answer {
  text-align: right;
}

.links {
  position: absolute;
  right: 0px;
  bottom: -40px;
}

a {
  text-decoration: none;
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(37, 53, 79) , rgb(127, 164, 224));
}

a:hover {
  margin: 0px 4px 0px 0px;
}
