.card {
  border: 1px solid black;
  height: 250px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
  background-image: linear-gradient(to right, rgb(37, 53, 79) , rgb(127, 164, 224));
  color: white;
  font-family: arial, sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

.photo {

}

.intro {
  align-self: flex-start;

}

.question {
  border-left: 1px black solid;
}

.answer {
  text-align: right;
}
